<h1>hello <span class="username">{{username}}</span> this is your main page</h1> 
<a href="/logout"><button>Log out</button></a>

{{!-- <a href="/">back to home</a> --}}
<p>I am kitty</p>
<img src="https://preview.redd.it/zrabexwzhgg61.jpg?width=640&crop=smart&auto=webp&s=f47c17d0645d0fdf281f005e5e69228f18996e56" height="300">